{% extends 'base.html' %}

{% block some_info %}
    {% if arts %}
        {% for art in arts %}
            <h3>{{  art.name }} by {{ art.author }}</h3>
            <p>No. {{ art.id }} {{ art.text }}</p>
            {% for comm in comms %}
                {% if comm.place.id == art.id %}
                    <div>{{ comm }}</div>
                {% endif %}
            {% endfor %}
            <form method="POST">
                {% csrf_token %}
                {% for field in form %}
                    {{ field }}
                    <input type="hidden" name="art_id" value="{{ art.id }}">
                {% endfor %}
                <br>
                <input type="submit" value="comment">
            </form>
        {% endfor %}
    {% else %}
        <h1>No article</h1>
    {% endif %}
<p>you are on the url named {{ name }}</p>
    {% if article_id %}
        <a href="{% url 'article-with-number' article_id %}">url for random article</a>
        <br>
        <a href="{% url 'slug-article' article_id slugger %}">url for random slug</a>
    {% endif %}
{% endblock %}